@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

:root {
    --blue: #0065FC
    --lightblue: #0065FC
    --gray: #F2F2F2
    --darkgray: #d9d9d9


}

/* wilcard */
*{
    box-sizing: border-box;
    font-family: "relaway", "sans-serif"
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;

}


/* navbar */

header
{
    display: flex;
}

header nav 
{
    margin-left: auto;
    padding-left: 40px;
}

header nav ul 
{
    display: flex;
    list-style-type: none;
    padding: 50px;
    margin: 0;
}

header nav ul li
{
    margin-right: 20px;
    
}

#heber { 

    color: #0065FC;
    
    }

/* BODY */

.wrapper {
   
    z-index: 10px;
    
}

/* search-form */
.search-form{
    display: flex;
}

.search-form i {
    padding: 10px;
    background-color: #F2F2F2;
    border-radius: 5px; 
}

.search-form imput {

    border: none;
    padding-right: 10px;


}

.search-form button {
    border-radius: 10px;

    
}


          
/* Filters */

.filters-list {
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    gap: 20px;  
    flex-wrap: wrap;    
    
}
.filters .fas {  
    color:#0065FC;
    background-color: #DEEBFF;
    padding: 10px;
    border-radius: 50px;  
}

.filters {
    
    border: 2px solid grey;
    border-radius: 50px;
    padding-right: 10px;
    
   
}

.filters span {
    font-weight: bold;
    

}

/* Search info */
.search-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-info .fas{

    color:#0065FC; 
    border: 2px solid lightblue;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 70px; 
   
}

 /* Rooms list */ 
 .rooms-list {

     display: flex;
     border: 4px solid #0065FC;
     gap: 10px;
    
    }   

 .rooms-list .town {
     background-color: rgb(241, 241, 241);
     border: 10px solid red;
     gap: 70px;
     justify-content: space-around;
     flex-wrap: wrap;
     width: 66%;
}

 
    
    .rooms-list .town .heber {
        display: flex;
        border: 2px solid yellowgreen; 
        
 }

   
@media (max-width: 800px) {
     .rooms-list {
         flex-direction: column;
    }
     
}

/* Town */

.rooms-list .town .rooms-card {
    
    display: flex;
    flex-direction: row; 
    border: 5px solid green;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 30px;
  
   
}
.rooms-list .town .rooms-card div {
    background-color: white;
    border: 2px solid yellowgreen; 
    flex-basis: 20%;
    
}

/* rooms-card */

.card {
  
    background-color: white;
    border: 5px solid blue; 
}

   

.rooms-list .town .rooms-card img {
    display: flex;
    border-radius: 30px 30px 0 0;
    padding: 5px; 
    height: 150px;
    
}

.picture {
    display: flex;
    border-radius: 30px 30px 0 0;
    padding: 5px; 
    height: 150px;
}
 
.content {
    border: 5px solid rosybrown;
}


/* popular */

.rooms-list .popular {
    
    border: 10px solid #d600fc;
    width: 34%;
}

.popular-article {
    display: flex;
    border:  5px solid rgb(72, 255, 0);
}

.popular-card {
    border: 10px solid rgb(17, 0, 255);
    
}

.popular-card div {


}

.popular-card img {
    display: flex;
    border-radius: 30px 30px 0 0;
    padding: 5px; 
    height: 150px;

}

/* popular-rooms */
.rooms-list .popular .rooms {

    display: flex;
    justify-content: space-around ;
    border: 10px solid rgb(15, 14, 14);
   
}

.popular-content {

    border: 10px solid rgb(255, 174, 0);
}

.stars {
    color: #0065FC;
    border: 5px solid rosybrown;
}

.icon {
    
    border: 5px solid rgb(225, 65, 65);
}

/* Activités */

.act-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 10px solid rebeccapurple;
}

.container-activité {
   
    border: 10px solid yellow
}

.container-activité:nth-child(1) img {
    width: 300px;
    height: 400px;
}

.container-activité:nth-child(2) img {

width: 200px;
height: 80px;

   }

.container-activité:nth-child(3) img {
    
    width: 300px;
    height: 300px;
}


.act {
    border: 5px solid rgb(0, 255, 255);

}

.actmars {
    border: 5px solid blue;
}

.card-activité {
    border: 5px solid green;
}

.card-name {
    border: 5px solid black;
}

.act-card img {
    border-radius: 30px 30px 0 0;
    padding: 5px; 
    height: 150px;

}

/* footer */

.footer-end {

    border: 10px solid goldenrod;
}

.container-footer {

    display: flex;
    justify-content: space-around;
    gap: 300px;
    border: 10px solid blue; 
}



.a-propos {
   
    border: 5px solid green
    
    
}

.nos-heber {
    border: 5px solid rosybrown;
}

.assistance {

    border: 5px solid black;
}
